header {
    width: 100%
}

body {
    font-family: "Montserrat", serif;
    font-weight: 500
}

li {
    width: auto;
    margin: 20px;
    font-size: 20px
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    max-width: 100%;
    text-align: center
}

a {
    text-decoration: none;
    color: inherit
}

.button {
    border-radius: 10px;
    height: 27px
}

.stick {
    margin-top: 16px;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.2);
}

.big-logo {
    margin-top: 29px;
    margin-left: 240px
}

.login {
    color: #3b82f6;
    padding: 10.5px 17.5px;
    margin: 20px;
    margin-left: auto;
}

.registration {
    align-self: flex-end;
    background-color: #3b82f6;
    color: white;
    padding: 10.5px 17.5px;
    margin-right: 213px
}

.top-small {

    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
    padding: 7px 14px;
    justify-content: center;
}

.button:hover {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.06)
}

.registration:hover {
    background-color: rgba(59, 130, 246, 0.8);
    color: white
}

.login:hover {
    background-color: rgba(0, 0, 0, 0.06);
    color: #3b82f6
}

.link {
    cursor: pointer
}

.link:hover {
    font-weight: 550
}

.checkbox {
    border-radius: 5px;
    width: 22px;
    height: 22px
}

.img-cube {
    width: 50px;
    height: 50px
}

.top-row {
    display: flex;
    gap: 14px
}

.right-side {
    margin: 20px
}

.left {
    overflow-y: auto;
    height: 85vh;
    border-radius: 10px;
}

.left::-webkit-scrollbar {
    display: none;
}

.left-image {
    position: fixed;
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.left-column {
    height: 100%;
    margin: 0;
    padding: 0
}

.theory-link {
    color: #2d2d2d;
    text-decoration: none;
}

@media (max-width: 576px) {
    .title-left {
        font-size: 16px
    }
    .left {
        width: 200px;
    }
}